@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
}

nav {
  /* display: flex;
  background-color: none;
  align-items: center;
  flex: 1;
  padding: 0 1rem;
  background: gainsboro; */
}
nav > h4 {
}
.desktop-nav {
  display: flex;
  background-color: none;
  align-items: center;
  flex: 1;
  padding: 0 1rem;
  background: gainsboro;
}
.desktop-nav h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  flex: 2;
}
img {
  width: 100%;
}

h1 {
  margin: 0 auto;
}

h3,
h4,
a,
p {
  font-family: 'Roboto', sans-serif;
}

h5 {
  margin: 0;
  font-size: 40px;
  position: relative;
  bottom: 4px;
}

h5:hover {
  cursor: pointer;
}

h4,
h4 a {
  font-weight: 100;
}
h4 a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#youtube-link {
  color: black;
  text-decoration: underline;
}
#youtube-link:hover {
  color: blue;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.selected {
  color: #3961c1;
  text-decoration: underline;
}

.header-background {
  background-image: url(https://res.cloudinary.com/dinz5dbwn/image/upload/v1616901982/puppets/images/header/RTPG_Website_Masthead_3_Opt_Size_enrmxl.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arf {
  width: 100px;
  margin: 1rem 0;
}

.top-box {
  padding: 0 0.5rem 0.5rem 0;
  display: flex;
}

.left-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.image-wrapper {
  align-self: center;
}

.image-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.contact-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem auto;
  max-width: 600px;
}
.contact-page img {
  width: 20%;
}

.videos-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.videos-page a {
  margin: 1rem;
}
.videos-page img {
  max-width: 400px;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
}

.about-text {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.puppics {
  max-width: 1000px;
  margin: auto;
}
.puppics-text {
  margin: 1rem;
}

.puppics-images {
  margin: 1rem;
}
.about-img-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  max-width: 800px;
}
.about-img {
  align-self: center;
  max-width: 400px;
  width: 45%;
}

.desktop-nav {
  display: none;
}
.hamburger-menu {
  display: flex;
  background: gainsboro;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.mobile-nav {
  position: relative;
}
.mobile-ul {
  background: gainsboro;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  top: 30px;
  right: 0;
  list-style-type: none;
  padding-left: 0;
}
.mobile-ul-hidden {
  display: none;
}

@media all and (max-width: 650px) {
}
@media all and (min-width: 650px) {
  .header-background {
    height: 200px;
  }
  .desktop-nav {
    display: flex;
  }
  #hamburger-menu {
    display: none;
  }
}
