
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body {
    background-color: #F5F5F5;
    margin: 0;
}

.header-background {
    background-color: #556EC2;
    margin-top: 0;
    height: 150px;
    width: 100%;
}

h1 {
    margin: 0 auto 0 auto;
}

a {
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: #556EC2;
    border: solid 1px #556EC2;
    box-shadow: 0 5px 15px -5px #F5F5F5; 
    font-family: Roboto;
  }

.buttons-container {
    max-width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px auto 0 auto;
    padding: 25px 25px 0 25px;
    justify-content: center;
}

.top-button-container, .bottom-button-container {
    /* padding: 10px; */
}

.button-image {
    background-color: #FEC76C;
    height: 100px;


}

h3 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.button {
    color: white;
    background-color: #556EC2;
    text-align: center;
    border-radius: 5px;
    margin: 15px auto 45px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px #556EC2;
}


